{
  "presets": [
    ["env", {
      "targets": {
        "node": "4"
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "syntax-async-generators",
    "transform-regenerator"
  ],
  "ignore": [
    "lib/*.js"
  ]
}
